<div class="row mb-4">
  <div class="col-md-10">
    <h4 class="side-nav-style">{{'appDescription.popular' | translate}}</h4>
  </div>
  <div class="col-md-2">
    <a href="">{{'common.seeAll' | translate}}</a>
  </div>
</div>
<div class="row mb-5">
  <div class="col-sm-6 pr-4  mb-4" *ngFor="let item of popularApps" >
    <a class="app-list content-box price-detail" (click)="appDetails(item.safeName)">
      <img class="integration-icon" src="http:{{item.customData.logo}}">
      <div class="integration-detail">
        <h3>{{item.name}}</h3>
        <span class="app-price">{{'common.free' | translate}}</span>
        <div class="integration-tagline">
          <p class="summary-text">{{item.customData.summary}}</p>
        </div>
      </div>
    </a>
  </div>
</div>
<div class="row mb-4">
  <div class="col-md-10">
    <h4 class="side-nav-style">{{'appDescription.newest' | translate}}</h4>
  </div>
  <div class="col-md-2">
    <a href="">{{'common.seeAll' | translate}}</a>
  </div>
</div>
<div class="row">
  <div class="col-sm-6 pr-4  mb-4" *ngFor="let item of newestApps">
    <a class="app-list content-box price-detail" (click)="appDetails(item.safeName)">
      <img class="integration-icon" src="http:{{item.customData.logo}}">
      <div class="integration-detail">
        <h3>{{item.name}}</h3>
        <span class="app-price">{{'common.free' | translate}}</span>
        <div class="integration-tagline"><span class="summary-text">{{item.customData.summary}}</span></div>
      </div>
    </a>
  </div>
</div>
